// Global viewports
#header {
  .introheader {
    display: flex;
    justify-content: flex-end;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 100vh;
  }
  h1 {
    font-family: "Fjalla One", sans-serif;
    position: absolute;
    font-size: 4em;
    color: #02529c;
    text-shadow: 1px 1px 1px #fff, 4px 4px 0px #dc1e35;
    top: 35%;
    left: 25%;
    z-index: 1;
  }
  img {
    position: relative;
    z-index: -1;
  }
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background-color: #02529c;
  transition: 0.4s;
  width: 100%;
  top: 0;
  z-index: 99;
  font-family: "Bree Serif", serif;
}
#navbar a {
  color: black;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 2%;
  color: #fff;
}
#navbar #logo {
  font-size: 1em;
  font-weight: bold;
  transition: 0.4s;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #dc1e35;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}
#navbar-links {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
