#page__index {
  p {
    font-family: "Junge", serif;
    @media screen and (min-width: 720px) {
      font-size: 1.5em;
    }
    @media screen and (min-width: 1080px) {
      font-size: 2em;
    }
  }
  h2 {
    margin: 2% 0 2% 0%;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    color: #02529c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px 0.2px #fff, 2px 2px 0px #dc1e35;
    @media screen and (min-width: 1080px) {
      font-size: 3.5em;
    }
  }
  h3 {
    font-family: "Fjalla One", sans-serif;
    color: #02529c;
    font-size: 1.5em;
    text-shadow: 0.25px 0.25px 0.2px #fff, 1px 1px 0px #dc1e35;
  }
  button {
    display: inline-block;
    font-weight: 400;
    color: #02529c;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #02529c;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background-color: #dc1e35;
      cursor: pointer;
    }
  }
  section {
    padding-top: 70px;
  }
  #aboutme {
    p {
      margin-left: 2%;
      margin-bottom: 2%;
    }
    img {
      width: 45%;
    }
    .textandimage {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  #skills {
    .checkmark {
      color: green;
      font-size: 2em;
    }
    .skillsintrotext {
      width: 75%;
    }
    p {
      margin: 0 auto;
    }
    .toolsandcompetences {
      display: flex;
      margin: 4% 0 2% 0;
    }
    .toolsiconflex {
      display: flex;
      margin: 0 auto;
      width: 45%;
      flex-wrap: wrap;
      align-items: center;
      p {
        margin-bottom: 2%;
      }
    }
    .toolsicon {
      width: 30%;
      @media screen and (min-width: 720px) {
        width: 20%;
      }
      @media screen and (min-width: 1080px) {
        width: 10%;
      }
    }
    .competence {
      width: 45%;
      font-family: "Junge", serif;
      p {
        margin-bottom: 2%;
      }
      li {
        @media screen and (min-width: 720px) {
          font-size: 1.5em;
        }
        @media screen and (min-width: 1080px) {
          font-size: 2em;
        }
      }
    }
  }
  #projects {
    h2 {
      margin: 10% 0 4% 0;
      @media screen and (min-width: 720px) {
        margin: 10% 0 2% 0;
      }
    }
  }
  #viewProjects {
    a {
      width: 50%;
    }
    .extrainfo {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        width: 10%;
      }
    }
    .project:nth-child(odd) {
      background-color: rgb(126, 126, 126);
      border-radius: 8px;
    }
    .project:nth-child(even) {
      background-color: rgb(214, 214, 214);
      border-radius: 8px;
    }
    .projectimage {
      max-width: 100%;
      border-radius: 8px;
      margin: 2% 1% 2% 1%;
    }
    .icon {
      width: 100%;
      @media screen and (min-width: 720px) {
        width: 100%;
      }
    }
  }
  .project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (min-width: 720px) {
      h3 {
        font-size: 2em;
        margin-bottom: 3%;
      }
      p {
        font-size: 1.25em;
        margin: 1% 0 5% 0;
      }
    }
    @media screen and (min-width: 1080px) {
      h3 {
        font-size: 3em;
        margin-bottom: 2%;
      }
    }
    .projectcontent {
      width: 45%;
      text-align: center;
    }
  }

  #viewOlderProjects {
    a {
      width: 50%;
    }
    .project:nth-child(even) {
      background-color: rgb(126, 126, 126);
      border-radius: 8px;
    }
    .project:nth-child(odd) {
      background-color: rgb(214, 214, 214);
      border-radius: 8px;
    }
    .projectimage {
      max-width: 100%;
      border-radius: 8px;
      margin: 2% 1% 2% 1%;
    }
    .icon {
      width: 10%;
    }
  }
  #contactme {
    width: 80%;
    padding-top: 0.5%;
    @media screen and (min-width: 720px) {
      width: 60%;
    }
    margin: 2% auto;
    box-shadow: 8px 8px 3px rgb(204, 200, 200);
    .flex {
      display: flex;
      padding: 2%;
    }
    h2 {
      padding-top: 2%;
    }
    h3 {
      padding-left: 2%;
      @media screen and(min-width: 720px) {
        font-size: 3.5em;
      }
    }
    img {
      width: 20%;
      border-radius: 6px;
    }
    .contactinfo {
      margin: 0 auto;
    }
    .somecontact {
      padding-top: 2%;
      i {
        font-size: 2em;
      }
    }
    a {
      color: #dc1e35;
      text-decoration: none;
    }
  }
}
